<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # 1. Vynucení HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # 2. Vynucení varianty BEZ www (pokud chcete mít web bez www)
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ https://%1/$1 [L,R=301]
</IfModule>